extends ./layout


block body
  .loginWrapper.container
    //- Login
    #loginContainer.loginInnerWrapper.hidden
      h1.welcomeMsg Schedulr
      form(method="POST" action="/login")#loginForm.form
        input(name='email' type='email', placeholder='Email')
        input(name='password' type='password', placeholder='Password')
        button#login-button(type='submit').btn.waves-effect.waves-light.form-button Login
        div.smallSignUpLink 
          a(class='formSwap' href='#') Sign Up
    
    //- Sign Up
    #signUpContainer.loginInnerWrapper
      h1.welcomeMsg Schedulr
      form(method="POST" action="/users")#signUpForm.form
        input(name='email' type='email', placeholder='Email')
        input(name='password' type='password', placeholder='Password')
        button#signUp-button(type='submit').btn.waves-effect.waves-light.form-button Sign Up
        div.smallSignUpLink 
          a(class='formSwap' href='#') Login
            
  //- Background cube bubble things
  ul.bg-bubbles
    - for (var cube = 0; cube < 9; cube++)
      li
    
