extends ./layout


block body
  .profile-container
    .container
      .row
        .col.s4.offset-s4 
          img(src="/images/testprofilepic.png")#profilepic
      .row
        .col.s4.offset-s4
          h3#fullname John Q. Doe
      .row
        .col.s6
          .card-panel
            p Events:
        .col.s6
          .card-panel
            p Event Details:
