extends ./layout


block body
  .settings-container
    #picdiv
      img(src="/images/testprofilepic.jpg")#profilepic
    h3#fullname
      //- | #{profileUser.email}
    button.btn.waves-effect.waves-light.light-blue.darken-1 
      | Test Button
