extends ./layout
block body
  .container
    br
    #calendar
    a(href="#modalForm")#modalButton.btn.waves-effect.waves-light-btn modal
  #modalForm.modal
    .modal-content
      h4 New Event
      form#newEventForm
        div.row
          div.input-field.col.active.s12
            input(placeholder="Event Name", type="text", id="title").validate
        div.row
          div#timeAndDate
            .col.s6
              input(type=text placeholder="Start Date").date.start#startDateSelect
            .col.s6
              input(type=text placeholder="Start Time").time.start#startTimeScroll
            .col.s6
              input(type=text placeholder="End Date").date.end#endDateSelect
            .col.s6
              input(type=text placeholder="End Time").time.end#endTimeScroll
            .switch
              label all day
                off
                input(type="checkbox")#allDaySwitch
                span.lever
                on
        .row
          .input-field.col.active.s12
          textarea#description.materialize-textarea
          .label Description
        .row
          a.waves-effect.waves-light.btn.modal-close.modal-action#submitBtn Submit
    .modalFooter
      a.btn.waves-effect.waves-light.modal-close.modal-action submit
    .card-panel
      #calendar
