extends layout
            
block body
<<<<<<< HEAD
  .container
    br
  .container
    #calendar
=======
    .settings-container
        h1#test-header
            | Schedule
        button.btn.waves-effect.waves-light.light-blue.darken-1(onclick='test();')
            | Test Button
        #calendar
>>>>>>> bf6c6d253fb9faa7e7f8b0b4661c4f5cc3412487
