.loginWrapper {
  z-index: 99;
  overflow: hidden;
  position: absolute;
  /*height: 100%;
  min-height: 100%*/
  width: 100%;
  min-width: 100%;
}

#loginContainer {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 80px 0;
  height: 40%;
}

#signUpContainer {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 80px 0;
  height: 40%;
}

h1.welcomeMsg {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}

.loginInnerWrapper.form-success h1.welcomeMsg {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
  font-size: 7.5rem !important;
}

.container_ {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.loginWrapper h1 {
  color: #FFF;
  font-size: 7rem;
  margin: 0;
  /*font-size: 40px;*/
  /*-webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;*/
  /*font-weight: 200;*/
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

form.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  border-radius: 3px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #0095ff;
  font-weight: 500;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 350px;
  height: 4rem;
  color: #0095ff;
}

form.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #0288d1;
  border-radius: 3px;
  width: 300px;
  height: 56px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

form.form button:hover {
  background-color: #0095ff;
  color: white;
}

form.form .smallSignUpLink {
  margin-top: 10px;
}

form.form .smallSignUpLink a {
  font-size: 1.2rem;
}

form.form .smallSignUpLink a:hover {
  font-size: 1.5rem;
  color: #FFF;
}

/*--- Bubbles ---*/

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0 !important;
  z-index: 1;
}
.bg-bubbles li {
  z-index: 2;
  opacity: .99;
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 10s infinite;
  animation: square 10s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}


/*Materialize Overrides*/
